# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build output
build/
dist/
lib/
.out/
out/

# Coverage
coverage/
.nyc_output/

# Caches
.cache/
.eslintcache
.stylelintcache
.vite/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
storybook-static/

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/
*.swp

# Debug logs
firebase-debug.log

# Misc
*.tgz
*.orig

# Meilisearch data
data.ms/ 